body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    color: $gray-base;
    background-color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#top-bar {
    background-color: $gray-base;
    color: $white;
    font-family: $headings-font-family;
    font-size: $font-size-base -2px;
    font-weight: $headings-font-weight;
    text-transform: uppercase;
    h1 {
        color: $white;
        margin:15px 0;
    }
    .btn {
        margin:15px 0;
        float:right;
    }
}



#main-wrapper {
    padding: 50px 0;
}

#left-sidebar {
    text-align: center;
}


.ux-card {
    background-color: $white;
    color: $gray-base;
    -webkit-box-shadow: 4px 4px 0 0 rgba(0,0,0,.1);
    box-shadow: 4px 4px 0 0 rgba(0,0,0,.1);
    margin: 0 0 22px;
    padding: 25px;
    border-top: 10px solid $dark-green;
}

.form-card {
    padding-left: 48.75px;
    padding-right: 48.75px;
}

#generateQuote {
    h2 {
        margin-bottom: 10px;
    }
    #generated-quote {
        max-height: 55px;
    }
}

#total {
	font-family: $headings-font-family;
	font-size:75px;
	color: $orange;
	text-align: center;
}




.highlight {
    padding: 9px 14px;
    margin: 30px 0 0;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}


#footer {
    position: relative;
    height: 90px;
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    // padding-bottom: 10px;
    background-color: $gray-base;
    color: $white;
    font-size: $font-size-base;
    a {
        color: $white;
    }
    .footer-copyright {
        padding: 10px 0 0;
        font-style: italic;
        position: relative;
    }
    .footer-badge {
        position: absolute;
        right: 0;
        top: 14px;
    }
}