h1,h2,h3,h4,h5,h6 {
	font-family: $headings-font-family;
}

h1 {
	// font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    text-transform: uppercase;
}

h2 {
	margin-bottom: 35px;
}

h4 {
    font-weight: 100;
    font-family: 'Arial Black', sans-serif;
    // color: $white !important;
}