// == Colors

$gray-base:				#333;
$gray: 					#555555;
$gray-light: 			#d1d1d1;
$gray-lighter:			#e8e8e8;

$white:					#fff;

$dark-green: 			#008a32;
$light-green:			#76c043;
$orange:				#ef6c0f;



$body-bg: 				$gray-lighter !important;
$text-color:			$gray;
$link-color:			$orange;
//$link-hover-color:		$orange;
// $link-hover-decoration:	none;

$line-height-base:       1.428571429 !default; // 20/14


//== Fonts
$font-size-base:		16px;

$headings-font-family:	'gt_walsheimblack','Arial Black',sans-serif;
$headings-font-weight:	400;
$headings-color:		$gray-base;


//== Buttons
$btn-font-family:		'gt_walsheimblack','Arial Black',sans-serif;
$btn-font-weight:		400;
$btn-font-size:			$font-size-base + 2px;
$btn-line-height:		$line-height-base;